<!DOCTYPE html>
<html lang="sk">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="module" src="./src/js/main.js"></script>
    <link rel="manifest" href="/manifest.webmanifest" />
    <link rel="icon" href="/icons/favicon.ico" sizes="any" />
    <link rel="icon" href="/icons/icon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/icons/apple-touch-icon.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@600;900&family=Roboto&display=swap"
      rel="stylesheet"
    />
    <title>Slniečka</title>
  </head>
  <body>
    <div id="navbar" class="fixed w-full top-0 left-0 right-0 h-16">
      <nav class="wrapper flex items-center justify-between py-3">
        <span
          class="text-white text-xl flex gap-1.5 items-center w-12 h-12 font-normal"
        >
          <img alt="Slniečka" src="/icons/icon.svg" />
          Slniečka
        </span>
        <ul class="hidden lg:block">
          <li class="mr-10 inline">
            <a id="nav-domov" class="nav-a hover:text-webotsGreen" href="#domov"
              >Domov</a
            >
          </li>
          <li class="mr-10 inline">
            <a
              id="nav-projekt"
              class="nav-a hover:text-webotsGreen"
              href="#projekt"
              >Projekt</a
            >
          </li>
          <li class="mr-10 inline">
            <a id="nav-tim" class="nav-a hover:text-webotsGreen" href="#tim"
              >Tím</a
            >
          </li>
          <li class="mr-10 inline">
            <a
              id="nav-simulacia"
              class="nav-a hover:text-webotsGreen"
              href="#simulacia"
              >Simulácia</a
            >
          </li>
          <li class="mr-10 inline">
            <a
              id="nav-dokumenty"
              class="nav-a hover:text-webotsGreen"
              href="#dokumenty"
              >Dokumenty</a
            >
          </li>
          <li class="mr-10 inline">
            <a
              id="nav-kontakt"
              class="nav-a hover:text-webotsGreen"
              href="#kontakt"
              >Kontakt</a
            >
          </li>
        </ul>
        <span class="menu-wrapper">
          <img
            class="w-10 h-10 lg:hidden"
            alt="Menu"
            src="/src/images/menu.svg"
          />
          <input
            type="checkbox"
            class="absolute w-10 h-10 block top-3 z-30 opacity-0 lg:hidden"
          />
          <ul
            class="menu absolute right-0 top-16 w-full flex-col items-center bg-darkBlue bg-opacity-75 pb-4"
          >
            <li class="border-b-2">
              <a class="nav-a" href="#domov">Domov</a>
            </li>
            <li class="mt-10 border-b-2">
              <a class="nav-a" href="#projekt">Projekt</a>
            </li>
            <li class="mt-10 border-b-2">
              <a class="nav-a" href="#tim">Tím</a>
            </li>
            <li class="mt-10 border-b-2">
              <a class="nav-a" href="#simulacia">Simulácia</a>
            </li>
            <li class="mt-10 border-b-2">
              <a class="nav-a" href="#dokumenty">Dokumenty</a>
            </li>
            <li class="mt-10 border-b-2">
              <a class="nav-a" href="#kontakt">Kontakt</a>
            </li>
          </ul>
        </span>
      </nav>
    </div>
    <div id="domov" class="wrapper">
      <img
        alt="Hráč"
        src="/src/images/player.svg"
        class="w-[480px] mx-auto mt-20 md:absolute md:-top-10 md:-right-36 md:w-2/3 -z-10"
      />
      <div class="mt-10 md:mt-[18rem] mb-10">
        <h1 class="h1-sections">
          UMELÁ INTELIGENCIA<br />V SIMULÁTORE <br />
          <span class="bg-webotsGreen text-darkBlue"> WEBOTS </span>
        </h1>
      </div>
      <div class="flex flex-row mt-60">
        <p class="text-left p-body">
          Pri spojení pojmov robotika a umelá inteligencia (AI) sa <br />
          nám zväčša vynorí predstava o humanoidných robotoch <br />
          z nejedného filmu.
        </p>
        <p class="text-start p-body mt-32">
          Ak však odhliadneme od Hollywoodu, <br />
          AI a robotika predstavujú dve odlišné disciplíny,<br />
          avšak môžu byť navzájom prospešné a môžu koexistovať.
        </p>
      </div>
    </div>
    <div id="projekt" class="wrapper">
      <div class="mb-20">
        <h1 class="h1-sections">// PROJEKT</h1>
        <div class="grid md:grid-cols-2 md:gap-20">
          <div class="flex items-center">
            <img
              alt="Mapa 1"
              class="img-gallery"
              src="/src/images/maps/map1.png"
            />
            <p class="p-body text-justify w-1/2">
              Cieľom projektu je
              <span class="text-webotsGreen">
                preskúmať možnosti využívania prvkov umelej inteligencie
              </span>
              v prostredí na simuláciu robotov
              <span class="text-webotsGreen">Webots</span>.
            </p>
          </div>

          <div class="flex">
            <img
              alt="Mapa 2"
              class="img-gallery"
              src="/src/images/maps/map2.png"
            />
            <p class="p-body text-justify w-1/2">
              Riešenie navrhneme, odsimulujeme a otestujeme v prostredí Webots,
              pričom riadiacu jednotku naprogramujeme v
              <span class="text-webotsGreen">Pythone</span>.
            </p>
          </div>

          <div class="flex">
            <p class="p-body text-justify w-1/2">
              Zameriame sa na
              <span class="text-webotsGreen">vytvorenie</span> vlastného
              <span class="text-webotsGreen">inteligentného robota </span> a
              <span class="text-webotsGreen">simulačného prostredia</span>, v
              ktorom bude tento robot vykonávať rôzne definované úlohy. Inými
              slovami, naprogramujeme
              <span class="text-webotsGreen">vlastnú riadiacu jednotku</span>,
              ktorá sa naučí komunikovať s prostredím.
            </p>
            <img
              alt="Mapa 3"
              class="img-gallery"
              src="/src/images/maps/map3.png"
            />
          </div>

          <div class="flex items-center">
            <p class="p-body text-justify w-1/2">
              Pre učenie použijeme
              <span class="text-webotsGreen">reinforcement learning</span>,
              vďaka ktorému náš robot bude vedieť hrať futbal a rozpoznávať
              spoluhráčov. Nakoniec týmto štýlom vytvoríme
              <span class="text-webotsGreen">inteligentné futbalové tímy</span>,
              schopné súperiť o góly.
            </p>
            <img
              alt="Mapa 4"
              class="img-gallery"
              src="/src/images/maps/map4.png"
            />
          </div>
        </div>
      </div>
    </div>
    <div id="tim" class="wrapper">
      <h1 class="h1-sections">// TÍM</h1>
      <h2 class="text-xl text-grey text-center md:text-3xl">
        71,43% tímu tvoria <span class="text-webotsGreen">dievčatá </span> !
      </h2>
      <div class="grid md:grid-cols-2 pb-20 md:mt-10 md:mb-10">
        <div class="items-start flex flex-col gap-10 pt-8">
          <span class="flex justify-end items-center">
            <span class="flex flex-col items-center">
              <span
                class="text-profiles-name w-[250px] sm:w-[300px] md:w-[500px]"
              >
                Ing. Martin Komák, PhD.
              </span>
              <span class="text-profiles-role">Product Owner</span>
            </span>
            <img
              alt="Martin"
              class="img-profiles"
              src="/src/images/profiles/martin.png"
            />
          </span>
          <span class="flex justify-end items-center">
            <span class="flex flex-col items-center">
              <span class="text-profiles-name w-[180px] sm:w-[300px]"
                >Bc. Matej B.</span
              >
              <span class="text-profiles-role">DevOps</span>
            </span>
            <img
              alt="Matej"
              class="img-profiles"
              src="/src/images/profiles/matej.png"
            />
          </span>
          <span class="flex justify-end items-center">
            <span class="flex flex-col items-center">
              <span
                class="text-profiles-name w-[250px] sm:w-[300px] md:w-[500px]"
                >Bc. Lucia M.</span
              >
              <span class="text-profiles-role">Web Dev</span>
            </span>
            <img
              alt="Lucia"
              class="img-profiles"
              src="/src/images/profiles/lucia.png"
            />
          </span>
          <span class="flex justify-end items-center">
            <span class="flex flex-col items-center">
              <span class="text-profiles-name w-[180px] sm:w-[300px]"
                >Bc. Silvia Š.</span
              >
              <span class="text-profiles-role">Documentarist</span>
            </span>
            <img
              alt="Silvia"
              class="img-profiles"
              src="/src/images/profiles/silvia.png"
            />
          </span>
        </div>
        <div class="items-end flex flex-col gap-10 pt-10 md:pt-24">
          <span class="flex justify-start items-center">
            <img
              alt="Katarina"
              class="img-profiles"
              src="/src/images/profiles/katarina.png"
            />
            <span class="flex flex-col items-center">
              <span
                class="text-profiles-name w-[250px] sm:w-[300px] md:w-[500px]"
                >Bc. Katarína B.</span
              >
              <span class="text-profiles-role">ML Engineer</span>
            </span>
          </span>
          <span class="flex justify-start items-center">
            <img
              alt="Andrei"
              class="img-profiles"
              src="/src/images/profiles/andrei.png"
            />
            <span class="flex flex-col items-center">
              <span class="text-profiles-name w-[300px]">Bc. Andrei Ch.</span>
              <span class="text-profiles-role">
                Domain Knowledge <br />
                Expert
              </span>
            </span>
          </span>
          <span class="flex justify-start items-center">
            <img
              alt="Michaela"
              class="img-profiles"
              src="/src/images/profiles/michaela.png"
            />
            <span class="flex flex-col items-center">
              <span
                class="text-profiles-name w-[250px] sm:w-[300px] md:w-[500px]"
                >Bc. Michaela H.</span
              >
              <span class="text-profiles-role">ML Engineer</span>
            </span>
          </span>
          <span class="flex justify-start items-center">
            <img
              alt="Jana"
              class="img-profiles"
              src="/src/images/profiles/jana.png"
            />
            <span class="flex flex-col items-center">
              <span class="text-profiles-name w-[300px]">Bc. Jana L.</span>
              <span class="text-profiles-role"> Data Scientist <br /> </span>
            </span>
          </span>
        </div>
      </div>
    </div>
    <div id="simulacia" class="wrapper">
      <h1 class="h1-sections text-webotsGreen">// SIMULÁCIA</h1>
      <p class="p-body mb-10">
        Chceš si kopnúť? Klikni
        <a href="/simulacia" class="text-webotsGreen">SEM</a>!
      </p>
      <img
        alt="Simulácia"
        class="object-cover w-full"
        src="/src/images/poster.svg"
      />
    </div>
    <div id="dokumenty" class="wrapper">
      <h1 class="h1-sections">// DOKUMENTY</h1>
      <div class="flex flex-col items-center">
        <div
          class="border-solid border-4 border-webotsGreen pb-5 mb-10 md:mb-24 w-3/4"
        >
          <h2 class="h2-documents text-center-margin mt-2">Zápisnice</h2>
          <div class="grid md:grid-cols-2">
            <div class="flex flex-col">
              <span
                id="firstSemesterWrapper"
                class="flex justify-center gap-2 mb-3 hover:opacity-70 cursor-pointer"
              >
                <h2 class="h2-documents semesterTitle">1. semester</h2>
                <img
                  alt="Šípka dole"
                  class="icon-downward semesterArrow"
                  src="/src/images/arrow_downward.svg"
                />
              </span>
              <div class="semesterRecords hidden" semester="first">
                <% for(const record of records.first) {%>
                <span class="flex justify-center pt-5 md:pt-2">
                  <p class="text-grey text-xl sm:text-2xl w-[170px]">
                    <%= record.name %>
                  </p>
                  <a href="<%= record.src %>" target="_blank" rel="noreferrer">
                    <img
                      alt="Stiahnuť"
                      class="img-save"
                      src="/src/images/save.png"
                    />
                  </a>
                </span>
                <% } %>
              </div>
            </div>
            <div class="flex flex-col mt-2 md:mt-0">
              <span
                id="secondSemesterWrapper"
                class="flex justify-center gap-2 mb-3 hover:opacity-70 cursor-pointer"
              >
                <h2 class="h2-documents semesterTitle">2. semester</h2>
                <img
                  alt="Šípka dole"
                  class="icon-downward semesterArrow"
                  src="/src/images/arrow_downward.svg"
                />
              </span>
              <div class="semesterRecords hidden" semester="second">
                <% for(const record of records.second) {%>
                <span class="flex justify-center pt-5 md:pt-2">
                  <p class="text-grey text-xl sm:text-2xl w-[170px]">
                    <%= record.name %>
                  </p>
                  <a href="<%= record.src %>" target="_blank" rel="noreferrer">
                    <img
                      alt="Stiahnuť"
                      class="img-save"
                      src="/src/images/save.png"
                    />
                  </a>
                </span>
                <% } %>
              </div>
            </div>
          </div>
        </div>
        <div
          class="border-solid border-4 border-webotsGreen mb-10 md:mb-24 w-3/4"
        >
          <h2 class="h2-documents text-center-margin mt-2">Dokumentácie</h2>
          <div class="flex justify-between px-5">
            <div id="documents" class="content-documents"></div>
          </div>
        </div>
      </div>
    </div>
    <footer id="kontakt">
      <div class="wrapper hidden md:grid md:grid-cols-3 w-full px-10 py-5">
        <div class="flex items-center">
          <img alt="Mailbox" class="w-14 h-14" src="/src/images/mailbox.png" />
          <p class="p-footer">
            Fakulta informatiky a informačných technológií <br />Ilkovičova
            6276/2
          </p>
        </div>
        <div class="items-center">
          <h1 class="font-extrabold text-4xl text-center text-webotsGreen">
            KONTAKT
          </h1>
          <p class="flex p-footer items-center justify-center">
            &copy; 2022 tím 11
            <a
              href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley"
              target="_blank"
            >
              <img alt="Slniečko" class="w-8 h-8" src="/icons/icon.svg" />
            </a>
          </p>
        </div>
        <div class="flex justify-end items-center">
          <p class="p-footer pr-2">tp.team11.fiit@gmail.com</p>
          <img alt="E-mail" class="w-14 h-12" src="/src/images/email.png" />
        </div>
      </div>
      <div
        class="wrapper flex flex-col items-center w-full px-10 py-5 md:hidden"
      >
        <div class="items-center">
          <h1 class="font-extrabold text-4xl text-center text-webotsGreen mb-2">
            KONTAKT
          </h1>
        </div>
        <div class="text-center">
          <p class="p-footer">FIIT, Ilkovičova 6276/2</p>
          <p class="p-footer">tp.team11.fiit@gmail.com</p>
          <p class="p-footer">&copy; 2022 tím 11</p>
        </div>
      </div>
    </footer>
    <script type="module" src="./src/js/main.js"></script>
  </body>
</html>
