<!DOCTYPE html>
<html lang="sk">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="module" src="./src/js/main.js"></script>
    <link rel="manifest" href="/manifest.webmanifest" />
    <link rel="icon" href="/icons/favicon.ico" sizes="any" />
    <link rel="icon" href="/icons/icon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/icons/apple-touch-icon.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap"
      rel="stylesheet"
    />
    <title>Slniečka</title>
  </head>
  <body>
    <div class="bg-turquoise fixed w-full top-0 left-0 right-0 h-20">
      <nav class="wrapper flex items-center justify-between py-3">
        <span class="flex gap-1.5 items-center w-12 h-12 font-normal text-3xl">
          <img alt="Slniečka" src="/icons/icon.svg" />
          Slniečka
        </span>
        <ul class="hidden md:block">
          <li class="mr-10 inline">
            <a class="font-medium text-2xl" href="#domov">Domov</a>
          </li>
          <li class="mr-10 inline">
            <a class="font-medium text-2xl" href="#projekt">Projekt</a>
          </li>
          <li class="mr-10 inline">
            <a class="font-medium text-2xl" href="#tim">Tím</a>
          </li>
          <li class="mr-10 inline">
            <a class="font-medium text-2xl" href="#simulacia">Simulácia</a>
          </li>
          <li class="mr-10 inline">
            <a class="font-medium text-2xl" href="#dokumenty">Dokumenty</a>
          </li>
          <li class="mr-10 inline">
            <a class="font-medium text-2xl" href="#kontakt">Kontakt</a>
          </li>
        </ul>
        <span class="menu-wrapper md:hidden">
          <img class="w-10 h-10" alt="Menu" src="/src/images/menu.svg" />
          <input
            type="checkbox"
            class="absolute w-10 h-10 block top-3 z-2 opacity-0"
          />
          <ul class="menu absolute right-0 top-20 w-full flex-col items-center bg-turquoise pb-4">
            <li class="border-b-2">
              <a class="font-medium text-2xl" href="#domov">Domov</a>
            </li>
            <li class="mt-10 border-b-2">
              <a class="font-medium text-2xl" href="#projekt">Projekt</a>
            </li>
            <li class="mt-10 border-b-2">
              <a class="font-medium text-2xl" href="#tim">Tím</a>
            </li>
            <li class="mt-10 border-b-2">
              <a class="font-medium text-2xl" href="#simulacia">Simulácia</a>
            </li>
            <li class="mt-10 border-b-2">
              <a class="font-medium text-2xl" href="#dokumenty">Dokumenty</a>
            </li>
            <li class="mt-10 border-b-2">
              <a class="font-medium text-2xl" href="#kontakt">Kontakt</a>
            </li>
        </span>
      </nav>
    </div>
    <div class="wrapper">
      <div id="domov" class="grid md:grid-cols-2 mt-20 mb-10">
        <div class="flex justify-center">
          <h1 class="text-right font-extrabold text-3xl md:text-8xl mt-20 md:leading-[7.5rem]">
            Umelá <br />inteligencia v <br />simulátore<br />
            Webots
          </h1>
        </div>
        <div class="flex flex-col justify-center">
          <img
            alt="Hráč"
            src="/src/images/player.png"
            class="mt-10 mb-5 ml-24"
          />
          <p class="text-center-margin p-body leading-9">
            Pri spojení pojmov robotika a <br />umelá inteligencia (AI) sa nám
            <br />zväčša vynorí predstava o <br />humanoidných robotoch z
            <br />nejedného filmu.
          </p>
          <p class="text-center-margin font-medium text-xl leading-8">
            Ak však odhliadneme od <br />Hollywoodu, AI a robotika
            <br />predstavujú dve odlišné <br />disciplíny, avšak môžu byť
            <br />navzájom prospešné a môžu <br />
            koexistovať.
          </p>
        </div>
      </div>
    </div>
    <div class="wrapper">
      <div id="projekt" class="md:m-24 border-[5px] border-solid border-blue">
        <h1 class="h1-sections">PROJEKT</h1>
        <div class="py-5">
          <p class="p-body">
            Cieľom projektu je
            <span class="text-purple">
              preskúmať možnosti využívania prvkov umelej inteligencie
            </span>
            v prostredí <br />
            na simuláciu robotov
            <span class="text-purple">Webots</span>.
          </p>
          <p class="p-body">
            Zameriame sa na
            <span class="text-purple">vytvorenie</span> vlastného
            <span class="text-purple">inteligentného robota </span> a
            <span class="text-purple">simulačného prostredia</span>, v
            <br />
            ktorom bude tento robot vykonávať rôzne definované úlohy. Inými
            slovami,
            <br />
            naprogramujeme
            <span class="text-purple">vlastnú riadiacu jednotku</span>, ktorá sa
            naučí komunikovať s prostredím.
          </p>
          <p class="p-body">
            Riešenie navrhneme, odsimulujeme a otestujeme v prostredí Webots,
            pričom riadiacu <br />
            jednotku naprogramujeme v
            <span class="text-purple">Pythone</span>.
          </p>
          <p class="p-body">
            Pre učenie použijeme
            <span class="text-purple">reinforcement learning</span>, vďaka
            ktorému náš robot bude vedieť hrať <br />
            futbal a rozpoznávať spoluhráčov. Nakoniec týmto štýlom vytvoríme
            <span class="text-purple"
              >inteligentné <br />
              futbalové tímy</span
            >, schopné súperiť o góly.
          </p>
        </div>
      </div>
    </div>
    <div class="bg-grey">
      <div class="wrapper flex flex-col md:flex-row justify-evenly p-20 gap-10">
        <img alt="Mapa 1" class="img-gallery" src="/src/images/maps/map1.png" />
        <img alt="Mapa 2" class="img-gallery" src="/src/images/maps/map2.png" />
        <img alt="Mapa 3" class="img-gallery" src="/src/images/maps/map3.png" />
        <img alt="Mapa 4" class="img-gallery" src="/src/images/maps/map4.png" />
      </div>
    </div>
    <div class="bg-grey">
      <div id="tim" class="wrapper">
        <h1 class="mt-24 mb-5 pt-40 text-center">
          <span class="text-6xl"> Zoznámte sa s </span>
          <br />
          <span class="h1-sections text-purple">TÍMOM</span>
        </h1>
        <h2 class="text-center">
          <span class="h2-profiles-6xl-bold">
            71,<span class="h2-profiles-4xl font-thin">43</span>%<span
              class="h2-profiles-4xl font-thin"
            >
              tímu tvoria dievčatá
            </span>
            !
          </span>
        </h2>
        <div class="grid md:grid-cols-2 mt-10 pb-40">
          <div
            class="items-end flex flex-col gap-10 pt-8 border-solid md:border-r-4"
          >
            <span class="flex justify-end items-center">
              <img
                alt="Martin"
                class="img-profiles"
                src="/src/images/profiles/martin.png"
              />
              <span class="flex flex-col items-center">
                <span class="text-profiles-name w-[360px]">
                  Ing. Martin Komák, PhD.
                </span>
                <span class="text-profiles-role">Product Owner</span>
              </span>
            </span>
            <span class="flex justify-end items-center">
              <img
                alt="Matej"
                class="img-profiles"
                src="/src/images/profiles/matej.png"
              />
              <span class="flex flex-col items-center">
                <span class="text-profiles-name w-60">Matej B.</span>
                <span class="text-profiles-role">DevOps</span>
              </span>
            </span>
            <span class="flex justify-end items-center">
              <img
                alt="Lucia"
                class="img-profiles"
                src="/src/images/profiles/lucia.png"
              />
              <span class="flex flex-col items-center">
                <span class="text-profiles-name w-[360px]">Lucia M.</span>
                <span class="text-profiles-role">
                  Web Dev <br />
                  & <br />Documentarist
                </span>
              </span>
            </span>
            <span class="flex justify-end items-center">
              <img
                alt="Silvia"
                class="img-profiles"
                src="/src/images/profiles/silvia.png"
              />
              <span class="flex flex-col items-center">
                <span class="text-profiles-name w-60">Silvia Š.</span>
                <span class="text-profiles-role">
                  Scrum Master <br />
                  & <br />
                  Documentarist
                </span>
              </span>
            </span>
          </div>
          <div class="items-start flex flex-col gap-10 pt-24">
            <span class="flex justify-start items-center">
              <span class="flex flex-col items-center">
                <span class="text-profiles-name w-[360px]">Katarína B.</span>
                <span class="text-profiles-role">ML Engineer</span>
              </span>
              <img
                alt="Katarina"
                class="img-profiles"
                src="/src/images/profiles/katarina.png"
              />
            </span>
            <span class="flex justify-start items-center">
              <span class="flex flex-col items-center">
                <span class="text-profiles-name w-60">Andrei Ch.</span>
                <span class="text-profiles-role">
                  Team Lead <br />
                  & <br />
                  Domain Knowledge <br />
                  Expert
                </span>
              </span>
              <img
                alt="Andrei"
                class="img-profiles"
                src="/src/images/profiles/andrei.png"
              />
            </span>
            <span class="flex justify-start items-center">
              <span class="flex flex-col items-center">
                <span class="text-profiles-name w-[220px] md:w-[360px]">Michaela H.</span>
                <span class="text-profiles-role">ML Engineer</span>
              </span>
              <img
                alt="Michaela"
                class="img-profiles"
                src="/src/images/profiles/michaela.png"
              />
            </span>
            <span class="flex justify-start items-center">
              <span class="flex flex-col items-center">
                <span class="text-profiles-name w-60">Jana L.</span>
                <span class="text-profiles-role">
                  Data Scientist <br />
                  & <br />
                  ML Engineer
                </span>
              </span>
              <img
                alt="Jana"
                class="img-profiles"
                src="/src/images/profiles/jana.png"
              />
            </span>
          </div>
        </div>
      </div>
    </div>
    <div id="simulacia" class="wrapper flex flex-col items-center pb-24">
      <h1 class="h1-sections text-purple mb-5">SIMULÁCIA</h1>
      <p class="p-body">
        Nižšie je krátka ukážka. Pre zobrazenie celej simulácie klikni
        <span class="text-purple">TU</span>
        <!-- TODO:  link to simulation -->
      </p>
      <div class="h-[500px] w-3/4 border-dashed border-4"></div>
    </div>
    <div class="bg-mauve">
      <div id="dokumenty" class="wrapper flex flex-col items-center">
        <h1 class="h1-sections text-purple mb-20">DOKUMENTY</h1>
        <div class="border-solid border-4 mb-24 w-3/4 md:w-1/2">
          <h2 class="h2-documents text-center-margin mt-2">Zápisnice</h2>
          <div class="grid md:grid-cols-2">
            <div class="flex flex-col">
              <span
                id="firstSemesterWrapper"
                class="flex justify-center gap-2 mb-3 hover:opacity-70 cursor-pointer"
              >
                <h2 class="h2-documents semesterTitle">1. semester</h2>
                <img
                  alt="Šípka dole"
                  class="icon-downward semesterArrow"
                  src="/src/images/arrow_downward.svg"
                />
              </span>
              <div class="semesterRecords hidden" semester="first">
                <% for(const record of records.first) {%>
                <span class="flex justify-center">
                  <p class="text-blue font-roboto text-2xl font-bold w-[170px]">
                    <%= record.name %>
                  </p>
                  <a href="<%= record.src %>" target="_blank" rel="noreferrer">
                    <img
                      alt="Stiahnuť"
                      class="img-save"
                      src="/src/images/save.png"
                    />
                  </a>
                </span>
                <% } %>
              </div>
            </div>
            <div class="flex flex-col mt-2 md:mt-0">
              <span
                id="secondSemesterWrapper"
                class="flex justify-center gap-2 mb-3 hover:opacity-70 cursor-pointer"
              >
                <h2 class="h2-documents semesterTitle">2. semester</h2>
                <img
                  alt="Šípka dole"
                  class="icon-downward semesterArrow"
                  src="/src/images/arrow_downward.svg"
                />
              </span>
              <div class="semesterRecords hidden" semester="second">
                <% for(const record of records.second) {%>
                <span class="flex justify-center">
                  <p class="text-blue font-roboto text-2xl font-bold w-[170px]">
                    <%= record.name %>
                  </p>
                  <a href="<%= record.src %>" target="_blank" rel="noreferrer">
                    <img
                      alt="Stiahnuť"
                      class="img-save"
                      src="/src/images/save.png"
                    />
                  </a>
                </span>
                <% } %>
              </div>
            </div>
          </div>
        </div>
        <div class="border-solid border-4 mb-24 w-1/2">
          <h2 class="h2-documents text-center-margin mt-2">Dokumentácie</h2>
          <div class="flex justify-between px-5">
            <div id="documents" class="content-documents"></div>
          </div>
        </div>
      </div>
    </div>

    <footer id="kontakt" class="wrapper grid grid-cols-3 w-full px-10 py-5">
      <div class="flex items-center">
        <img alt="Mailbox" class="w-14 h-14" src="/src/images/mailbox.png" />
        <p class="p-footer">
          Fakulta informatiky a informačných technológií <br />Ilkovičova 6276/2
        </p>
      </div>
      <div class="items-center">
        <h1 class="font-extrabold text-4xl text-center text-purple">KONTAKT</h1>
        <p class="flex p-footer items-center justify-center">
          &copy; 2022 tím 11
          <a
            href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley"
            target="_blank"
          >
            <img alt="Slniečko" class="w-8 h-8" src="/icons/icon.svg" />
          </a>
        </p>
      </div>
      <div class="flex justify-end items-center">
        <p class="p-footer pr-2">tp.team11.fiit@gmail.com</p>
        <img alt="E-mail" class="w-14 h-12" src="/src/images/email.png" />
      </div>
    </footer>
    <script type="module" src="./src/js/main.js"></script>
  </body>
</html>
