@tailwind base;
@tailwind components;
@tailwind utilities;

//TODO: add theme

* {
  font-family: "Roboto", sans-serif;
  color: #1b1a44;
}

@mixin text-center {
  text-align: center;
  margin-bottom: 20px;
}

.text-highlight-purple {
  color: #861670;
}

.wrapper {
  margin: 0 auto;
  padding: 0 50px;
  max-width: 1600px;
}

nav {
  background-color: #67d8d6cc;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  .logo {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 50px;
    height: 50px;
    font-weight: 400;
    font-size: 2rem;
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      margin-right: 40px;
      display: inline;

      a {
        font-weight: 500;
        font-size: 1.5rem;
      }
    }
  }
}

.home-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 40px 0;

  .left {
    display: flex;
    justify-content: center;
  }

  .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h1 {
    text-align: right;
    font-weight: 800;
    font-size: 6rem;
    line-height: 120px;
  }

  .player-image {
    width: 500px;
    height: 350px;
    margin: 40px 0px 20px 100px;
  }

  .project-description-first {
    @include text-center;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 36px;
  }

  .project-description-second {
    @include text-center;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 32px;
  }
}

.project-container {
  margin: 100px 0;
  border: 3px solid #1b1a44;

  h1 {
    font-weight: 800;
    font-size: 4rem;
    line-height: 112px;
    text-align: center;
    margin-bottom: 20px;
  }

  p {
    @include text-center;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 36px;
  }
}

.gallery-container {
  display: grid;
  background-color: #e3e2e7;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
  padding: 80px;
  gap: 40px;

  img {
    height: 300px;
    border: 5px solid #1b1a44;
    object-fit: cover;
  }
}
