@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply bg-darkBlue;
  @apply scroll-pt-20;
  @apply overflow-x-hidden;
  @apply text-white;
  @apply font-raleway;
  min-width: 100%;
}

@layer components {
  .wrapper {
    @apply mx-auto px-10 w-full max-w-[1600px];
  }
}

@layer utilities {
  .nav-a {
    @apply font-semibold text-lg text-white;
  }

  .nav-a-active {
    @apply text-webotsGreen;
  }

  .nav-scrolled {
    @apply bg-darkBlue bg-opacity-75;
  }

  .h1-sections {
    @apply text-white text-center leading-[4.5rem] text-4xl font-black mt-5 sm:mt-10 sm:text-7xl 
      sm:leading-[6rem] md:mt-20 md:mb-10 md:text-7xl md:leading-[6rem] lg:text-[5rem] lg:leading-[6rem] lg:text-left;
  }

  .h2-profiles-6xl-bold {
    @apply font-bold text-6xl;
  }

  .h2-profiles-4xl {
    @apply text-4xl;
  }

  .h2-documents {
    @apply text-2xl sm:text-3xl font-semibold text-grey;
  }

  .border-purple {
    @apply border-2 border-solid border-blue;
  }

  .img-gallery {
    @apply border-[5px] w-60 sm:w-72 md:w-36 lg:w-52 xl:w-64 border-solid border-blue;
  }

  .img-profiles {
    @apply border-4 w-20 sm:w-36 md:w-20 lg:w-40 border-solid border-webotsGreen rounded-3xl;
  }

  .img-save {
    @apply h-8 w-8;
  }

  .text-center-margin {
    @apply text-center mb-5;
  }

  .text-profiles {
    @apply text-[1.1rem] text-center md:text-[1.3rem] md:min-w-[3rem];
  }

  .text-profiles-name {
    @apply text-profiles text-grey border-solid border-b-4 sm:text-2xl;
  }

  .text-profiles-role {
    @apply text-profiles text-webotsGreen font-medium leading-tight sm:text-2xl md:text-xl;
  }

  .content-documents {
    @apply flex flex-col items-center gap-2;
  }

  .p-body {
    @apply font-medium text-grey sm:text-[1.5rem] md:text-[1.125rem] px-4;
  }

  .p-footer {
    @apply font-medium text-sm;
  }

  .icon-downward {
    @apply w-8 h-8 sm:w-10 sm:h-10;
  }

  .icon-purple {
    filter: invert(11%) sepia(57%) saturate(5198%) hue-rotate(299deg)
      brightness(101%) contrast(92%);
  }
  .menu-wrapper {
    .menu {
      display: none;
    }
    input[type="checkbox"]:checked {
      + .menu {
        display: flex;
      }
    }
  }
}
