@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply text-blue;
  @apply font-roboto;
  min-width: 100%;
}

@layer components {
  .wrapper {
    @apply mx-auto px-3 w-full;
  }
}

@layer utilities {
  .h1-sections {
    @apply font-extrabold text-5xl text-center leading-[6rem] md:text-6xl md:leading-[7rem];
  }

  .h2-profiles-6xl-bold {
    @apply font-bold text-6xl;
  }

  .h2-profiles-4xl {
    @apply text-4xl;
  }

  .h2-documents {
    @apply text-3xl font-semibold;
  }

  .border-purple {
    @apply border-2 border-solid border-blue;
  }

  .img-gallery {
    @apply border-[5px] border-solid border-blue;
  }

  .img-profiles {
    @apply border-4 w-24 md:w-48 border-solid border-blue rounded-3xl;
  }

  .img-save {
    @apply h-8 w-8;
  }

  .text-center-margin {
    @apply text-center mb-5;
  }

  .text-profiles {
    @apply text-[1.1rem] text-center md:text-[1.3rem] md:min-w-[3rem];
  }

  .text-profiles-name {
    @apply text-profiles border-solid border-b-4;
  }

  .text-profiles-role {
    @apply text-profiles text-purple font-medium leading-tight;
  }

  .content-documents {
    @apply flex flex-col items-center gap-2;
  }

  .p-body {
    @apply text-center-margin font-medium text-[1.5rem] px-4;
  }

  .p-footer {
    @apply font-medium text-sm;
  }

  .icon-downward {
    @apply w-10 h-10;
  }

  .icon-purple {
    filter: invert(11%) sepia(57%) saturate(5198%) hue-rotate(299deg)
      brightness(101%) contrast(92%);
  }
  .menu-wrapper {
    .menu {
      display: none;
    }
    input[type="checkbox"]:checked {
      + .menu {
        display: flex;
      }
    }
  }
}
